@page "/recipes"
@inject IHttpClientFactory HttpFactory
@attribute [StreamRendering]

<div class="container-fluid">
    @if (jsonRecipes is null)
    {
        <span>There is no data yet</span>
    }
    else
    {
        foreach (var item in jsonRecipes)
        {
            <div class="card mb-3">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <span>@item.Id</span>
                        <h2>@item.Name</h2>
                        <span>@item.Dificulty</span>
                    </div>
                </div>

                <div class="card-body">

                    <div class="row">
                        <div class="col-12">
                            <span>@item.Origin</span>
                        </div>

                        <div class="col-6">
                            <span>Ingredients:</span>
                            <ul>
                                @foreach (var ing in item.Ingredients)
                                {
                                    <li>
                                        <span>@ing.Name</span>
                                        <span>@ing.Quantity</span>
                                    </li>
                                }
                            </ul>
                        </div>

                        <div class="col-6">
                            <span>Steps:</span>
                            <ol>
                                @foreach (var s in item.Steps)
                                {
                                    <li>
                                        <span>@s</span>
                                    </li>
                                }
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

@code
{
    private List<RecipeModel> jsonRecipes;
    protected override async Task OnInitializedAsync()
    {
        var client = HttpFactory.CreateClient();
        client.BaseAddress = new Uri("http://localhost:5128");
        jsonRecipes = await client.GetFromJsonAsync<List<RecipeModel>>("recipes.json");
    }
}